@media (max-width: 1200px) {
   section.about {
    padding: 30px 0;
   } 

   .about ul {
    width: 90%;
   }
}

@media (max-width: 800px) {
    section {
        padding: 40px;
    }
    .button {
        width: 50%;
    }

    .about ul {
        flex-direction: column;
        width: 80%;
    }
}

@media (max-width: 530px) {
    .wrapper {
        width: 95%;
    }
    .header-flex {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    section {
        margin-top: 50px;
    }

    .button, 
    form .button {
        width: 100%;
    }

    .about ul {
        width: 90%;
    }
}