/* Global styles */
:root {
  --color-primary: #23a6d5;
  --color-secondary: #e73c7e;
  --color-tertiary: #ee7752;
  --color-quaternary: #23d5ab;
  --color-white: ivory;
  --color-black: black;
  --color-border-one: rgba(240, 46, 170, 0.4);
  --color-border-two: rgba(240, 46, 170, 0.3);
  --color-border-three: rgba(240, 46, 170, 0.2);
  --color-border-four: rgba(240, 46, 170, 0.1);
  --color-border-five: rgba(240, 46, 170, 0.05);
}


html {
  font-size: 125%;
}

h1, h2, ul, li, input, button {
  padding: 0;
  margin: 0;
}

h2, h3 {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

p {
  margin: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-black);
  transition: all .3s;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

a:hover,
a:focus {
  color:var(--color-secondary);
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.button {
  margin-top: 5px;
  padding: 10px;
  width: 15%;
  border: none;
  border-radius: 20px;
  background: var(--color-secondary);
  color: var(--color-white);
  transition: all .3s;
}

.button a {
  color: var(--color-white);
}

.button:hover,
.button:focus {
  background: var(--color-primary);
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 100px;
  border-radius: 10px;
  margin-top: 100px;
}

h1,
section, 
nav {
  background-color: var(--color-white);
  border-radius: 40px;
  box-shadow: 
    var(--color-border-one) 5px 5px, 
    var(--color-border-two) 10px 10px, 
    var(--color-border-three) 15px 15px, 
    var(--color-border-four) 20px 20px, 
    var(--color-border-five) 25px 25px;
}


